<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>StarLean</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/static/assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="/static/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="/static/assets/css/lightbox.css">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="/static/assets/images/logo.png" width="90">
                            <p>StarLean <font size="50" color="#fa8e47"</font></p>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Главная Страница</a></li>
                            <li class="scroll-to-section"><a href="#men">Продукты</a></li>
                            <li class="scroll-to-section"><a href="#women">Мужское</a></li>
                            <li class="scroll-to-section"><a href="#kids">Другое</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">О нас</a></li>
                                    <li><a href="products.html">Продукты</a></li>
                                    <li><a href="contact.html">Связаться с нами</a></li>
                                </ul>
                                <li class="submenu">
                                <a href="javascript:;">Features</a>
                                <ul>
                                    <li><a href="#">Features Page 1</a></li>
                                    <li><a href="#">Features Page 2</a></li>
                                    <li><a href="#">Features Page 3</a></li>
                                    <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                                </ul>
                            </li>
                            </li>

                        <a class='menu-trigger'>
                            <span>Меню</span>
                        </a>
                        <!-- ***** Menu End ***** -->

    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>Мы - StarLean</h4>
                                <span>Лучший магазин в Туркменистане!</span>
                                <div class="main-border-button">
                                    <a href="#">Покупайте сейчас!</a>
                                </div>
                            </div>
                            <img src="/static/assets/images/left-banner-image.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Clothes</h4>
                                            <span>Best Clothes</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Продукты</h4>
                                                <p>Лучшие вещи и электроника!</p>
                                                <div class="main-border-button">
                                                    <a href="#">Смотри дальше!</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/static/assets/images/baner-right-image-01.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>StarLean</h4>
                                            <span>Лучший магазин!</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>StarLean</h4>
                                                <p>Лучший магазин в Туркменистане!</p>
                                                <div class="main-border-button">
                                                    <a href="#">Смотри дальше!</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/static/assets/images/baner-right-image-02.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>instagram: @starLean.tm</h4>
                                            <span>Подписывайся!</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Instgram</h4>
                                                <p>Подписывайся на наш инстаграм и будь в курсе всего нового</p>
                                                <div class="main-border-button">
                                                    <a href="#">Смотри дальше!</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/static/assets/images/baner-right-image-03.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>TikTok: starlean.tm</h4>
                                            <span>TikTok</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>TikTok</h4>
                                                <p>Так же не забудь подписатья на наш TikTok: @starlean.tm.</p>
                                                <div class="main-border-button">
                                                    <a href="#">Смотри дальше</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/static/assets/images/baner-right-image-04.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Men Area Starts ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Men's Latest</h2>
                        <span>Details to details is what makes StarLean different from the other themes.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for product in products%}
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="{{product.photos.all.0.image.url}}" height="350px" width="200" alt="">
                                </div>

                                <div class="down-content">
                                    <h4>{{product.name}}</h4>
                                    <span>${{product.price}}</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Men Area Ends ***** -->

    <!-- ***** Women Area Starts ***** -->


    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>Покупайте у нас!</h2>
                        <span>Спасибо что посетили мой сайт StarLean</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p></p>
                        </div>
                        <p>Заходите в наш инстаграм и подписывайтесь instagram: @starlean.tm!</p>
                        <div class="main-border-button">
                            <a href="products.html">Смотрите дальше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** -->

    <!-- ***** Social Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>Subscribe to our instagram @Starlean.tm</h2>
                        <span>Starlean the best shop.</span>
                    </div>
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="Your Name" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-2">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Store Location:<br><span>Turkmenistan, Ashgabat</span></li>
                                <li>Phone:<br><span>+99362729508</span></li>
                                <li>Office Location:<br><span>Parahat 2/2</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Work Hours:<br><span>24/7</span></li>
                                <li>Email:<br><span>petrosanctop5@gmail.com</span></li>
                                <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/static/assets/images/white-logo.png" alt="Starlean ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">Turkmenistan, Ashgabat</a></li>
                            <li><a href="#">petrosanctop5@gmail.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Категории</h4>
                    <ul>
                        <li><a href="#">Все</a></li>
                        <li><a href="#">Одежда</a></li>

                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                    </ul>
                </div>


                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2023 StarLean Co., Ltd. All Rights Reserved.
                        
                        <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </footer>
    

    <!-- jQuery -->
    <script src="/static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/assets/js/popper.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/assets/js/owl-carousel.js"></script>
    <script src="/static/assets/js/accordions.js"></script>
    <script src="/static/assets/js/datepicker.js"></script>
    <script src="/static/assets/js/scrollreveal.min.js"></script>
    <script src="/static/assets/js/waypoints.min.js"></script>
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/assets/js/imgfix.min.js"></script> 
    <script src="/static/assets/js/slick.js"></script> 
    <script src="/static/assets/js/lightbox.js"></script> 
    <script src="/static/assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="/static/assets/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>


</html>
